/* ==========================

   Copyright © 2019, All Right Reserved z3ro0k

=============================*/

body {
  background-color:#323232;
  color:#fff
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf; 
  --bggradient: linear-gradient(to bottom, #7f70f5, #0ea0ff);
  --light-gray: rgba(255, 255, 255, 0.877);
}

::-webkit-scrollbar{
    width: 10px;
    background-color: #242424;
}
::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #242424;
}
::-webkit-scrollbar-thumb{
    background-color: #F90; 
    background-image: var(--bggradient)
}

